/* .button{
    background-color: hsl(304, 61%, 56%);
    color: #ffffff;
    padding: 10px 20px; ความห่างจากขอบแกน x y  ตามลำดับ
    border-radius: 5px; ความมนของกรอบ
    border: none; ไม่มีกรอบ
    cursor: pointer; หากชี้เข้าไปที่ปุ่ม มันจะเป็นเปลี่ยนเป็นมือชี้
  } 
  */